<!DOCTYPE html>
<html>
<head>
    <title>Airport Arrivals</title>
</head>
<body>  

  <table id="airportArrivals" class="tablecolor" style="width:100%" border="2px">
    <tr class="header">
      <th>Time</th>
      <th>Flight Number</th> 
      <th>Arriving from</th>
      <th></th>
    </tr>
    
    <% let data =  arrivalDetails;  %>
    <% for (var i in data) { %>
      <tr>
        <td>   <%= moment(data[i].date).format('MMMM Do YYYY, h:mm a ');  %></td>
        <td>   <%= data[i].carrierCode %> <%= data[i].flightNumber %></td>
        <td>   <%= data[i].departureAirportCode %></td>
        <td>   <a name="airportCodeArrival" href="#" data-id=<%= data[i].flightId %>>  Flight details </a> </td>
      </tr>
    <% } %>        
    </table>
  </body>
</html>