<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/my.css">
  <div class="title">
    <title></title>
  </div>
</head>
<body>  

  <table id="airportDepartures" class="tablecolor" style="width:100%" border="2px">
    <tr class="header">
      <th>Time</th>
      <th>Flight Number</th> 
      <th>Depart to</th>
      <th></th>
    </tr>
    <% let data =  departureDetails;  %>
    <% for (var i in data) { %>
      <tr>
        <td><p> <%= moment(data[i].date).format('MMMM Do YYYY, h:mm a '); %> </p> 
        </td>
        <td><%= data[i].carrierCode %> <%= data[i].flightNumber %></td>
        <td> <%= data[i].arrivalFsCode %> </td>
        <td> <a name="aiportCode" href="#" data-id=<%= data[i].flightId %>>  Flight details </a> </td>
      </tr>
    <% } %>        
    </table>
  </body>
</html>